{% extends 'photos/base.html' %}
{% load static %}

{% block title %}
<title>Deelightful Desserts | Cupcakes</title>
{% endblock  %}

{% block content %}

<section class="page-section" id="portfolio">
  <div class="container">
    <h3 class="pt-4">Cupcakes</h3>
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/chocolate.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Chocolate
        </h5>
        <p>
          Chocolate cupcake with chocolate or vanilla buttercream
        </p>
      </div>
    </div>
    <!-- Media object -->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/actual_cupcake2.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Snickers Surprise
        </h5>
        <p>
          Chocolate cupcake with a snickers in the middle, peanut butter buttercream topped with chopped peanuts and
          chocolate sauce
        </p>
      </div>
    </div>
    <!-- Media object -->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/chocolate_covered_strawberry.png' %}" alt="John Doe"
        class="me-3 rounded-circle" style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Chocolate covered strawberry
        </h5>
        <p>
          Chocolate cupcakes with strawberry compote filling, vanilla buttercream, topped with chocolate covered
        </p>
      </div>
    </div>
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/chocolate_pb.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Chocolate peanut butter
        </h5>
        <p>
          Chocolate cupcake with PB buttercream
        </p>
      </div>
    </div>
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/chocolate_peanut_butter.png' %}" alt="John Doe"
        class="me-3 rounded-circle" style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          PB cup
        </h5>
        <p>
          Peanut butter cupcake, PB cream filling, chocolate buttercream topped with PB cup
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/vanilla.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Vanilla
        </h5>
        <p>
          Vanilla cupcake with vanilla or chocolate buttercream
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/funfetti.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Funfetti
        </h5>
        <p>
          Vanilla cupcake with sprinkles mixed in, topped with vanilla buttercream and dipped in sprinkles.
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/red_velvet.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Red Velvet
        </h5>
        <p>
          With cream cheese frosting
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/cookies_cream.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Cookies and Cream
        </h5>
        <p>
          Vanilla cupcake with a cream filling,cookies and cream buttercream, topped with an Oreo
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/lemon_raspberry.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Lemon Raspberry
        </h5>
        <p>
          Lemon cupcake with raspberry filling and swirled vanilla raspberry buttercream
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/carrot_cake.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Carrot cake (cream cheese frosting)
        </h5>
        <p>
          Topped with candy carrot
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/caramel_apple_pie.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Caramel Apple Pie
        </h5>
        <p>
          Vanilla cupcake with apple pie filling topped with cream cheese frosting and drizzled with caramel, topped
          with apple slice
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/chai_latte.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Chai Latte
        </h5>
        <p>
          Vanilla chai cupcake, topped with chai buttercream and topped with a cinnamon stick and cinnamon sugar
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/andes_mint.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Andes Mint
        </h5>
        <p>
          Andes mint- Chocolate cupcake with mint buttercream and chopped Andes mint on top
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/outline.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Baileys
        </h5>
        <p>
          Chocolate cupcake infused with baileys, topped with baileys buttercream and chocolate shavings, additional
          infusion shot extra $
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/outline.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Bourbon
        </h5>
        <p>
          Bourbon chocolate cupcake with bourbon buttercream, sprinkled with bacon
        </p>
      </div>
    </div>
    <!-- End media object-->
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/rumchata.png' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Rumchata
        </h5>
        <p>
          Vanilla rumchata cupcake with a cream cheese rumchata frosting , topped with a pirouette cookie
        </p>
      </div>
    </div>
    <!-- End media object-->

  </div> <!-- End Container-->
  
</section>

{% endblock %}