{% extends 'photos/base.html' %}
{% load static %}

{% block title %}
<title>Deelightful Desserts | Hot Cocoa Bombs</title>
{% endblock  %}

{{% block content %}

<section class="page-section" id="portfolio">
  <div class="container">
    <h3 class="pt-4">Hot Cocoa Bombs</h3>
    <!-- Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/photos/salted_caramel.PNG' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Salted Caramel
        </h5>
        <p>
          Milk chocolate shell.  Hot cocoa, marshmallows, caramel pieces inside, topped with caramel candy.
        </p>
      </div>
    </div>
    <!-- Media object -->
    <!-- Begin Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/photos/cookies_and_cream.PNG' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Cookies and Cream
        </h5>
        <p>
          White chocolate shell with crushed cookie pieces, topped with drizzled marshmallow and a cookie chunk.
        </p>
      </div>
    </div>
    <!-- End Media object -->
    <!-- Begin Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/photos/smores_new.PNG' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          S'Mores
        </h5>
        <p>
          Milk chocolate shell topped with drizzle, toasted marshmallow, graham cracker and a chocolate square.
        </p>
      </div>
    </div>
    <!-- End Media object -->
    <!-- Begin Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/photos/milk_chocolate.PNG' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          Milk Chocolate
        </h5>
        <p>
          Milk chocolate shell, hot cocoa and marshmallow inside, drizzled with chocolate and topped with sprinkles.
        </p>
      </div>
    </div>
    <!-- End Media object -->
    <!-- Begin Media object -->
    <div class="d-flex">
      <!-- Image -->
      <img src="{% static 'assets/img/portfolio/photos/white_chocolate.PNG' %}" alt="John Doe" class="me-3 rounded-circle"
        style="width: 60px; height: 60px;" />
      <!-- Body -->
      <div>
        <h5 class="fw-bold">
          White Chocolate
        </h5>
        <p>
          White chocolate shell, hot cocoa and marshmallow inside, drizzeld with white chocolate and topped with sprinkles.
        </p>
      </div>
    </div>
    <!-- End Media object -->
    
</section>

{% endblock %}