{% extends 'photos/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}


    <div class="container" style="padding: 10rem 0;">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Thank you!  We'll get back to you soon 😀</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>

{% endblock %}